header{
  background-image: url('../images/header.jpg');
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  background-position: center;
  /* background-attachment: fixed; */
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #98afc0f2;
  opacity: 0.4;
}

.wrapper{
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
}

.title{
  color: white;
}

nav{
  position: sticky;
  top: 65px;
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
  background: #f3f3f3;
  z-index: 9999;
}

nav div{
  position: sticky
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0px;
}

nav li{
  list-style: none;
  padding: 15px 30px;
  font-size: 20px;
  color: #565449e0 !important;
}

h1{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 40%;
  margin: auto;
  color: #fff !important;
  font-size: 100px;
  text-align: center;
  font-family: 'Cinzel', serif;
}

h1 span#by{
  font-size: 24px;
  position: absolute;
  top: 100px;
  right: 20px;
  font-family: sans-serif;
  font-weight: 100;
}

h1 span{
  font-size: 40px;
  position: absolute;
  top: 125px;
  right: -20px;
  font-family: 'Lobster', cursive;
  color: #fff !important;
  left: 315px;
}

.head{
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  background: #a9a9ab;
  z-index: 99;
}

.head div{
  padding: 20px;
  margin-right: auto;
}

.head ul{
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  /* display: none; */
}

.head li{
  padding: 20px;
  font-size: 18px
}

.deals{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  height: 300px;
  margin: 40px auto;
  /* box-shadow: 0px 0px 5px 0px black; */
  background-color: #f9f8f887;
}

.display{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 64px;
  height: 50%;
  width: 50%;
}

.w-20{
  /* width: 20%; */
}

.cat{
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.catgories{
  width: 90%;
  margin: 70px auto;
}

.w-20>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer{
  background: #92918e;
  color: white;
  text-transform: capitalize;
}

footer a, footer span{
  color: white !important;
}

span{
  color: #738084;
  margin: 10px 0;
}

.display h3 {
  font-size: 40px;
  margin: 25px 0;
  color: #5f5f5f;
}

h2 {
  font-size: 30px;
  color: #6c6a72;
}

hr.div{
  width: 5%;
}

h4{
  text-transform: capitalize;
  color: #5f5b53;
}

.sub{
  color: #fff;
  font-size: 30px;
}

.sub-inp{
  height: 30px;
}

#email{
  height: 100%;
  width: 300px;
}

button{
  background-color: #a9a9aa;
  border: none;
  height: 118%;
  color: white;
  width: 100px;
}

.newsletter{
  background: url('../images/white-791685_960_720.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

a{
  text-decoration: none;
  color: inherit;
}